.card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    border: 1px black dashed;
    transition: 0.3s ease;

    border-radius: 10px;
    background: #FFE4B5;
    box-shadow: 20px 20px 40px #d9c29a,
            -20px -20px 40px  #ffffd0;
    padding: 15px;
    margin: 25px;
    max-width: 600px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo {
    overflow: hidden;
}

.card-wrap div {
    margin: 10px;
}

.card-wrap:hover {
    transform: scale(1.05);
}

.title {
    font-weight: bold;
}

.description {
    font-style: italic;
}

img {
    width: 300px;
    height: 200px;
}

@media screen and (max-width: 600px) {
    .card-wrap {
      grid-template-columns: 1fr;
    }
}