.meal-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.meal-add-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.review-meal {
    margin: 1rem;
    background: #7b91c0;
    color: black;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

.review-meal:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
  
.review-meal:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.sold-out {
    margin: 2rem;
    font-weight: bold;
}

.meal-reservation {
    margin: 25px;
}