h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.list-table {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.top-wave {
    height: 250px;
}

.list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchInput {
    margin: 1.5rem;
}

.row-wrap {
    display: flex;
    align-items: center;
}